@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button-tab {
  background-color: #c09d70; /* Gold background, change as per your color requirement */
  color: #4E3229; /* Black text color, change if needed */
  font-weight: 700; /* Bold font */
  width: 200px;
  padding: 10px 20px; /* Adjust padding to match your design */
  margin: 10px; /* Space between buttons */
  border: none; /* No border */
  outline: none; /* No outline */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size, adjust as needed */
  border-radius: 5px; /* Rounded corners, adjust as needed */
  transition: background-color 0.5s ease; /* Smooth background color transition */
  border-radius: 100px;
}

.button-tab:hover {
  background-color: #736048; /* Orange background on hover, change as per your color requirement */
}

